.container{
	border: 5px solid black;
}
.row{
	border: 3px solid red;
}
.pink{
	background: pink;
	
}
.orange{
	background: orange;
}
.blue{
	background: blue;
}
#sidebar ul{
	list-style: none;
	padding: 10px 1px;
}
#sidebar ul li{
	display: inline-block;
	padding: 4px 2px 0px;
}